.MuiInputBase-input.Mui-disabled {
    background: var(--Lightgray_4) 0% 0% no-repeat padding-box !important;
    //border: 1px solid var(--Lightgray_2) !important;
    color: var(--Lightergray) !important;  
    opacity: 1;
}

.MuiFormLabel-root{
    color: var(--Darkgray) !important;
}

.MuiFormLabel-root.Mui-focused {
    color: var(--Darkgray)!important;
}

.Mui-error .MuiInputBase-input,
.MuiInputBase-input:invalid{
    box-shadow: none;
    border: 2px solid var(--Tertiary);
}

.MuiFormHelperText-error{
    color: var(--Tertiary) !important;
}

.super{
    font-size: 1em;
}