div {
  .page-area {
    max-height: calc(100vh - 64px);
    overflow-y: auto;
  }

  .main-area {
    overflow: unset;
  }
  .legend-area {
    .legend-box {
      max-height: calc(100vh - 90px);
      overflow-y: auto;
    }
  }
}
