$font-primary: "Arial";

$color-primary-blue: #163C88;

$color-primary-yellow: #FBCE06;
$color-primary-red: #DD1D21;
$color-primary-white: #FFFFFF;
$color-primary-darkgray: #404040;

$color-shell-yellow: #FBCE07;

$color-secondary-orange: #EB8705;
$color-secondary-green: #008443;
$color-secondary-yellowgreen: #BED50F;


$color-black: #000000;
$color-darkgray: #404040;
$color-gray: #595959;
$color-lightergray: #7F7F7F;
$color-lightgray: #A6A6A6;
$color-lightgray-2: #D9D9D9;
$color-lightgray-3: #EDEDED;
$color-lightgray-4: #F7F7F7;

$color-bondi-blue: #009EB4;
$color-spray: #89CFDC;
$color-palatinate-purple: #641964;
$color-dark-cerulean: #003C88;
$color-peru-tan: #743410;
