div{ 
    .customer-list-item {
       display: flex;
       gap: 30px;
       align-items: center;
    }
    .customer-list-item-header {
        padding-right: 60px;
        padding-left: 60px;
    }
    .customer-list-right-item {
        display: flex;
        gap: 30px;
        align-items: center;
        padding-left: 100px;
        padding-right: 60px;
        padding-left: 60px;
    }

    
}