div {
  .right_info_panel_content {
    .infoPanelUI {
      padding: 20px 0px 20px 35px;
      .MuiGrid-container {
        padding: 16px 0px;
        font-weight: bold;
        .right_info_panel_content_label {
          color: var(--Lightergray);
          word-break: break-word;
        }
        .right_info_panel_content_value {
          color: var(--Darkgray);
        }
      }
      .right_info_panel_content_item_divider {
        width: 100%;
      }
      .opis-rack-info-text {
        border: 1px solid #fbce06;
        background: #fbce061a 0% 0% no-repeat padding-box;
    }
    }
    
    
  }
}
