.text {
    &-primary {
      color: var(--Primary-Background);
    }
    &-secondary {
      color: var(--Primary-Background);
    }
    &-danger {
      color: var(--Primary-Background);
    }
  }
.bg {
    &-primary {
      background-color: var(--Primary-Background);
    }
    &-secondary {
      background-color: var(--Primary-Background);
    }
  }
.border {
    &-primary {
      border-color: var(--Primary-Background);
    }
    &-gray {
      border-color: var(--Primary-Background);
    }
  }
  