.fw {
  &-normal {
    font-weight: normal;
  }
  &-lighter {
      font-weight: lighter;
    }
  &-bold {
    font-weight: bold;
  }
}

body{
   font-size: 0.875rem;
   font-family: Arial; 
}

.h1,
h1 {
  font-size: 1.3125rem
}

.h2,
h2 {
  font-size: 1.125rem;
}

.h3,
h3 {
  font-size: 0.875rem;
}

.h4,
h4 {
  font-size: 0.75rem;
}

.h1,
.h2,
.h3 {
  font-weight: normal;
  color: var(--Black);
  &-primary{
    color: var(--Black);
    &-bold{
        font-weight: bold;
    }
  }
  &-bold{
    font-weight: bold;
  }
}


p {
  font-size: 1rem;
  color: var(--Black);
}
