@for $factor from 1 to 5 {
  .m {
    &t-#{$factor} {
      margin-top: .25rem * $factor !important;
    }
    &b-#{$factor} {
        margin-bottom: .25rem * $factor !important;
      }
    &l-#{$factor} {
      margin-left: .25rem * $factor !important;
    }
    &r-#{$factor} {
      margin-right: .25rem * $factor !important;
    }
    &x-#{$factor} {
      margin-left: .25rem * $factor !important;
      margin-right: .25rem * $factor !important;
    }
    &y-#{$factor} {
      margin-top: .25rem * $factor !important;
      margin-bottom: .25rem * $factor !important;
    }
  }
}
@for $factor from 1 to 5 {
  .p {
    &t-#{$factor} {
      padding-top: .25rem * $factor !important;
    }
    &b-#{$factor} {
        padding-bottom: .25rem * $factor !important;
      }
    &l-#{$factor} {
      padding-left: .25rem * $factor !important;
    }
    &r-#{$factor} {
      padding-right: .25rem * $factor !important;
    }
    &x-#{$factor} {
      padding-left: .25rem * $factor !important;
      padding-right: .25rem * $factor !important;
    }
    &y-#{$factor} {
      padding-top: .25rem * $factor !important;
      padding-bottom: .25rem * $factor !important;
    }
  }
}