div{  
    .page-area {
      max-height: calc(100vh - 64px);
      overflow-y: auto;
    }
      .page-container{
        margin: 0px;
        max-width: 950px;
        .form-action-section{
          display: flex;
          justify-content: flex-end;
        }
      }
      .edit-button{
        float:right;
        width: 120px;
        .MuiButton-label{
          span{
            margin-left: 10px;
          }
        }
        
      }
      .add-icon-span{
        margin: 2px 5px 0px 0px;
      }
      .left-heading{
        margin-top: 5px;
      }
      .disabled-text-link{
        text-decoration-color: var(--Secondary-Background);
        h3{
          color:  var(--Secondary-Background);
        }
      }
      input[type="text"]:disabled {
        background: var(--Lightgray_4) 0% 0% no-repeat padding-box;
        color: var(--Lightergray);
      }
      .field-divider{
        border-color: var(--Secondary-Background);
      }
  }
  