div{ 
      .page-container{
        margin: 0px;
        padding: 0px;
        max-width: 950px;
        .form-action-section{
          display: flex;
          justify-content: flex-end;
        }
        .info-section{
            border: 1px solid var(--InformationMessageYellow);
            font-size: 14px;
            background-color: var(--InformationMessageYellow);
            color: var(--Darkgray);
            opacity: 0.6;
        }
      }
  }
  