.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 26px;
  height: 50px;
  font-size: 20px;
  font-weight: 600;
}

.button:first-of-type {
  margin-right: 20px;
}

.button--primary {
  background-color: var(--Blue-Btn);
  border: 0px;
  color: var(--White);
}

.button--secondary {
  background-color: var(--Save-Btn);
  border: 0px;
  color: var(--Black);
}