div{ 
.btn {
  border-radius: 0%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  height: 50px;
  text-transform: capitalize;
  font-size: 16px;
  letter-spacing: 0px;
  &-primary {
    background-color: var(--Blue-Btn);
    border: 0px;
    color: var(--White);
  }
  &-secondary {
    width: 200px;
    background-color: var(--Save-Btn);
    border: 0px;
    color: var(--Darkgray);
    &:hover{
      background-color: var(--Gray);
      color: var(--Save-Btn);
    }
    &:disabled{
      background-color: var(--Lightgray_2);
      color: var(--Lightergray);
    }
  }
}
}



.button:first-of-type {
  margin-right: 20px;
}