.product-management-container{
    padding: 0;
}
 
.productForm{
    min-height: calc(100vh - 200px);
    height: 100%;
    .MuiInputLabel-formControl{
        font-size: 14px;
    }

}
.productContainer {
    min-height: 100%; 
    .lastItem{
        margin-top: auto; 
        .cancelButton{
            margin-top: auto;
            margin-bottom: 34px;
        }
      };
     

  } 

.masterRightLayout {
    background: var(--Lightgray_4); 
    min-height: 100%; 
}

.supplier-modal-btn{
    width: 100%;
    margin-top: 2px;
    background-color: var(--Darkgray);
    span{
        justify-content: left;
        color: var(--White);
        font-size: 14px;
    }
}

.checkbox-heading{
    font-size: 11px;
    color: var(--Darkgray);
    margin-bottom: 5px;
    font-weight: bold;
}

.checkboxlist-wrapper{
    .MuiFormControlLabel-root{
        margin-bottom: 5px;
        .PrivateSwitchBase-root-5{
            padding-left: 0px;
        }
    }
}

.supplierRack{
    width: 100%;
   & .css-hz1bth-MuiDialog-container{
       width: 100%;
       & .css-1t1j96h-MuiPaper-root-MuiDialog-paper {
           left: 1%;
            width: 100%;
            max-width: 95%;
            min-height: 80%;

            & tbody.no-data .nodata {
                z-index: 9999;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 35%;
                left: 50%;
                transform: translate(-50%, 50%);
                position: absolute;
       }
   }
   & .supplierRack-dialog-container{
        width:100%;
        & .supplierRack-content{
            width:100%;
        }
        & .supplierRack-dialog-actions{
           margin-top: 35%;
           padding-right: 1%;
           padding-bottom: 1%;
        }
    }
  }
}