.product-list { 
    &  tbody{
            &.no-data{
                .nodata{
                   padding: 40% 0% 0% 0%;
                }
            }
           
        }   
    
    & .MuiTable-root{
        min-width: auto;
    }
}
.editProduct {
    margin-left: 12px;
}
.opisr-grid-item{
    display: flex;
    .grid-itm-pn{
        width: max-content;
        margin-right: 7px;
    }
    .grid-item-icn{
        width: 15px;
        margin-top: 2px;
        svg{
            width: 15px;
            height: 15px;
        }
    }
}