.product-list {
    div {
        .header-options{
            padding: 10px 2px;
        }
        .grid-cell-parent{
            padding: 5px 2px;
        }
        .grid-cell-parent:last-of-type{
            padding-right: 10px;
        }
    }
    &  tbody{
            &.no-data{
                .nodata{
                    z-index: 9999;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 19%;
                    height: 40%;
                    left: 12%;
                    transform: translate(0, 0);
                    position: absolute;
                }
                & svg{    
                    height: 15%;
                    width: 15%;
                    padding-bottom: 10px;
                    color: var(--Gray);
                }
            }
        }   
    
    & .css-12exmm-MuiTable-root {
        min-width: auto;
    }
}
.editProduct {
    margin-left: 12px;
}