div{ 
    .app__header .app__header-section{
        flex-grow: 1;
    }
    .header{
        .app__header-right-section-desktop{
            display: flex;
            align-items: center;
        }
        background-color: var(--White);
        z-index: 100;
        box-shadow: none;
        border-bottom: 1px solid var(--Lightgray_2);
        &__toolbar{
            padding-left: 50px;
            padding-right: unset;
        }
        .btn-profile{
            width: 64px;
            height: 64px;
        }
        &__toolbar{
            .linkitem {
                padding: 16px 30px;
                border-bottom: 4px solid  var(--White);
                :hover{
                    color: var(--Primary);
                }
            }
            .linkitem.active{
                color: var(--Primary);
                .breadcrubs-title{
                    color: var(--Primary);
                }
                border-bottom: 4px solid  var(--Primary);
            }
            .breadcrubs-title {
                text-decoration: none;
                font-family: "Arial";
                font-size: 18px;
                font-weight: bold;
                color: var(--Darkgray);
            }
        }
        .vl {
            border-left: 1px solid var(--Lightgray) ;
            height: 44px;
        }
        &__country-selector{
            display: inline-flex;
            justify-content: flex-start;
            align-items: center;
            padding: 0 1.25rem;
            .country-title{
                font-size: 16px;
            }
            .country-selector-logo{
                display: flex;
                justify-content: flex-end;
                width: 40px;
                height: 40px;
            }
            span{
                color: var(--Black);
            }
        }
    }
}