.fee-details{
    .left-heading{
      svg{
        margin: 0px 0px -2px 33px;
      }
    }
    & .MuiTypography-h3{
        color:var(--Darkgray);
     
      }
    .add-link {  
      & .MuiTypography-h3{
        color:var(--Primary);
      }
      &.disabled-text-link {
      & .MuiTypography-h3{
        color:var(--Secondary-Background);
     
      }
    } 
  }
  & .nodata{   
            z-index: 9999;
            height: 50%;
            left: 50%;
            transform: translate(-50%, 650%);
            position: absolute;
    } 
  .deleteBtn.enabled {
    cursor: pointer;
  }
}