.fee-details{

    & .MuiTypography-h3{
        color:var(--Darkgray);
     
      }
    .add-link {  
      & .MuiTypography-h3{
        color:var(--Primary);
      }
      &.disabled-text-link {
      & .MuiTypography-h3{
        color:var(--Secondary-Background);
     
      }
    } 
  } 
}