.searchinput.css-1q6at85-MuiInputBase-root-MuiOutlinedInput-root{
   border-radius: 0;
}

div.searchinput{
   outline: 0;

   svg {
    display: block;
    width: 0.9em;
    height: 0.9em;
    fill: var(--Lightgray);
  }
}

div.searchinput.MuiInputBase-root.MuiOutlinedInput-root {
        & fieldset {
          border-color: var(--Lightgray_2);
        }
        &.Mui-focused fieldset {
         border: 2px solid var(--Darkgray);
        }
}

div.searchinput .MuiInputBase-input{
   background: var(--White) 0% 0% no-repeat padding-box;
   border: 0;
   font-size: 14;
   padding-left: 0;
   &:focus {
   background: var(--White) 0% 0% no-repeat padding-box;
   border: 0;
   }
   &:active {
   background: var(--White) 0% 0% no-repeat padding-box;
   border: 0;
   }
}