div{
    .discard-dialog-container{
        max-width: 477px;
        padding: 10px 20px 20px 20px;
        .dialog-content{
            padding: 1.25rem;
            .MuiTypography-body1{
                font-size: 14px;
            }
        }
        .dialog-actions {
            padding: 0rem 1.25rem 1.25rem 1.25rem;
            .action-no {
                padding-left: 3.05rem;
                padding-right: 3.05rem;
                margin-right: .9rem;
            }
            .action-yes{ 
                margin-left: .9rem;
                padding-left: 2.9rem;
                padding-right: 2.9rem;
            }
        }
    }
    .dyn-dialog-field-label-div{
        display: flex;
        align-items: center;
        .checkboxStyle{
            padding-left: 0px;
        }
    }
}