div { 
    .table-container{
        max-height: calc(100vh - 200px);
    }
    .grid-cell-parent{
        padding: 5px 20px;
        font-family: "Arial";
        color: var(--Darkgray);
        letter-spacing: unset;
    }
    .grid-cell {
        padding-bottom: 0;
        padding-top: 0;
    }
    .header-options{
        background-color: var(--Lightgray_2);
        font-size: 14px;
        font-weight: bold;
        padding: 5px 20px;
        line-height: 1.25rem;
        border-bottom: none;
        align-items: center;
        letter-spacing: unset;
        .MuiTableSortLabel-icon {
            width: 20px;
            height: 20px;
        }
    }
}