svg {
  display: block;
  width: 1.5em;
  height: 1.5em;
  fill: var(--Lightgray);
}

.select {
  font-family: arial;
  font-size: 14px;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  
  &:focus {
    outline: 0;
    
    & .selection {
      box-shadow: 0 0 1px 1px var(--Gray);
    }
  }
}

.label {
  color: var(--Darkgray) !important;
  font-size: 14px;
  font-family: arial;
  display: block;
  margin-bottom: 6px;
  font-weight: 700;
}

.selection {
  position: relative;
  padding: 5px;
  height: 50px;
  box-sizing: border-box;
  border: 1px solid var(--Lightgray_2);
  background: var(--White) 0% 0% no-repeat padding-box;
  &:focus {
        background: var(--White) 0% 0% no-repeat padding-box;
        color: var(--Darkgray);  
        border:2px solid var(--Darkgray);
      }
  &:active {
        background: var(--White) 0% 0% no-repeat padding-box;
        color: var(--Darkgray); 
        border: 1px solid var(--Gray);
      }     
}

.open{
      background: var(--White) 0% 0% no-repeat padding-box;
      color: var(--Darkgray);  
      border:2px solid var(--Darkgray);
}

.value {
  position: relative;
  display: inline-block;
  padding: 5px 10px;
  margin-top: 5px;
}

.multiple {
  padding-right: 30px;
  margin-right: 5px;
  background: var(--White);
  color: var(--Gray);
}

.delete {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  padding: 10px;
  font-size: 10px;
  cursor: pointer;
}

.placeholder {
  padding: 5px 10px;
  color: var(--Gray);
  margin-top: 5px;
}

.arrow {
  position: absolute;
  top: 5px;
  right: 5px;
  display: block;
  padding: 10px;
  font-size: 10px;
  color: var(--Gray);
}

.options {
  position: absolute;
  top: 115%;
  width:115%;
  left: 0;
  right: 0;
  border: solid var(--Lightgray_4);
  border-width: 0 1px;
  background:var(--White);
  box-shadow: 3px 6px 14px #00000026;
  z-index: 999;
  box-sizing: border-box;
  padding: 0 10px;
}

.opt-items{
  display: flex;
  height: 200px;
  overflow-y: scroll;
  flex-direction: column;
  width: 100%;
  overflow-x: auto;
}

.opt-search {
  display: flex;
  flex-direction: column;
}

.option {
  line-height: 1.5rem;
  font-size: 14px;  
  padding: 10px 15px;
  border-bottom: 1px solid var(--White);
  cursor: pointer;

  &.selected {
    border: 1px solid var(--White);
    margin: -1px -1px 0;
    background: var(--Lightgray_3);
  }
  
  &.focused {
    background: var(--Lightgray_3);
    opacity: 1;
  }
}

.checkbox {
  content: '';
  vertical-align: top;
  display: inline-block;
  width: 16px;
  height: 16px;
  padding: 2px;
  border: 1px solid var(--Darkgray);
  border-radius: 2px;
  margin: 2px 12px 0 0;
  color: var(--White);
  font-size: 10px;
  
  .selected & {
    border-color:var(--Black);
    background: var(--White);
  }
}

.ui.search .input{
    width :100%;
    height: 50px;
    box-sizing: border-box;
    display: flex;
    font-size: 14px;
    align-items: center;
    margin: 0;
    border:0;
}

.ui.search .prompt{
    height: 90%;
    width: 97%; 
    border-radius: 0;
    font-size: 14px;
}

.ui.input > input {
    border: 1px solid var(--White);
    font-size: 14px;
}

.icon{
    float: right;
    cursor: pointer;
    padding-left: 12px;
}

.ui.search input{
    &:focus-visible{
        border: 1px solid var(--White);
        outline-color: var(--White);
    }
}

.divider{
  height: 1px;
  margin: 5px 0;
  background-color: var(--White);
  border-bottom: 1px solid var(--Lightgray_2);
}