.right_panel_main_class {
  
  .MuiDrawer-paper {
    border: 0px;
    box-shadow: -10px 0px 10px #a6a6a640;
    z-index: 10000;
    width: 583px;
    .MuiAppBar-root {
      background-color: var(--Blue-Btn);
      box-shadow: none;
      h2{
        color: var(--White);
        flex-grow: 1 ;
      }
      .info_panel_close_icon {
        font-size: 17px;
      }
    }
  }
}

.dynamicForm {
  height: 100%;
  margin-top: 24px;
  .sContainer {
    min-height: 100%;
    .lastItem{
      margin-top: auto;
    }
    .date-picker-container{
      width: 100%;
    }
    .MuiInputLabel-root{
      transform: none;
      position: initial;
      font-size: 16px;
      margin-bottom: 14px;
      margin-top: 0px;
      color: var(--Darkgray);
    } 
    .checkboxLabel{
      margin-top: 16px;
    }
  }
  .filter_label_item {
    padding-bottom: 5px;
    font-size: 16px;
    font-weight: 700;
  }
} 

.right_info_panel {
  .MuiDrawer-paper {
    width: 566px;
    .right_info_panel_header {
      h2{
        flex-grow: 1;
      }
      .MuiAppBar-root {
        .MuiToolbar-root {
          .MuiIconButton-root {
            padding-right: 10px;
          }
          .MuiButton-startIcon {
            color: var(--White);
            &:hover {
              color: var(--White);
            }
          }
        }
      }
    }
    .right_info_panel_content {
      padding: 45px 50px 45px 80px;
      .MuiGrid-container {
        padding: 16px 0px;
        font-weight: bold;
        .right_info_panel_content_label {
          color: var(--Gray);
        }
        .right_info_panel_content_value {
          color: var(--Darkgray);
        }
      }
    }
    .right_info_panel_content_item_divider {
      width: 100%;
    }
  }
}

