.right_panel_main_class {
  .MuiDrawer-paper {
    border: 0px;
    box-shadow: -10px 0px 10px #a6a6a640;
    .MuiAppBar-root {
      background-color: var(--Blue-Btn);
      box-shadow: none;
      padding: 4px 0;
      .info_panel_close_icon {
        font-size: 17px;
      }
    }
  }
}

.right_info_panel {
  .MuiDrawer-paper {
    width: 566px;
    .right_info_panel_header {
      .MuiAppBar-root {
        .MuiToolbar-root {
          .MuiIconButton-root {
            padding-right: 10px;
          }
          .MuiButton-startIcon {
            color: var(--White);
            &:hover {
              color: var(--White);
            }
          }
        }
      }
    }
    .right_info_panel_content {
      padding: 45px 80px;
      .MuiGrid-container {
        padding: 16px 0px;
        font-weight: bold;
        .right_info_panel_content_label {
          color: var(--Gray);
        }
        .right_info_panel_content_value {
          color: var(--DarkGray);
        }
      }
    }
    .right_info_panel_content_item_divider {
      width: 100%;
    }
  }
}

.customer_filter_panel {
  .MuiDrawer-paper {
    width: 615px;
    .cust_filter_panel_header {
      .MuiAppBar-root {
        .MuiToolbar-root {
          padding: 0px 20px 0px 38px;
          .custom-toolbar {
            background-color: var(--Blue-Btn);
          }
        }
      }
    }
    .cust_filter_panel_content {
      padding: 45px 38px;
      .cust_filter_parent_grid {
        & > .MuiGrid-item {
          padding-bottom: 44px;
          padding-top: 14px;
        }
        .MuiGrid-root {
          .date-picker-container {
            width: 100%;
          }
          .select {
            width: 100%;
            .label {
              font-size: 16px;
              margin-bottom: 14px;
            }
          }
        }
        .cust_filter_date_label_grid {
          padding-bottom: 14px;
          font-size: 16px;
          font-weight: 700;
        }
      }
      .cust_filter_buttons_container {
        position: absolute;
        right: 38px;
        bottom: 26px;
        .MuiButton-root {
          margin-left: 30px;
        }
      }
    }
  }
}
