.date-picker-container{
    .date-picker-label{
        color: var(--Darkgray);
        font-size: 14px;
        font-family: arial;
        display: block;
        margin-bottom: 6px;
        font-weight: 700;
    }
}

